.s-6 {
    .inner {
        transform: translateX(-100vw);
    }
    .cta {
        width: 200px;
        height: 65px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        cursor: pointer;
    }
    .background {
        width: 200px;
        height: 65px;
        background-color: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(15px);
        border-radius: 35px;
        position: absolute;
        box-shadow: 0px 5px 75px 5px rgba(0, 0, 0, 0.1);
        transition: 500ms;
        &.left {
            left: 0;
        }
        &.right {
            left: 50%;
        }
    }
    .tranche {
        width: 100%;
        max-width: 1000px;
        .bar {
            width: 0px;
            height: 50px;
            border-radius: 25px;
            transition: 500ms;
        }
        &.idf {
            .chart:nth-child(1) .bar {
                background-color: #9733EE;
            }
            .chart:nth-child(2) .bar {
                background-color: #DA22FF;
            }
            .chart:nth-child(3) .bar {
                background-color: #C17AFC;
            }
            .chart:nth-child(4) .bar {
                background-color: #7E43AA;
            }
            .chart:nth-child(5) .bar {
                background-color: #472461;
            }
        }
        &.province {
            .chart:nth-child(1) .bar {
                background-color: #97294F;
            }
            .chart:nth-child(2) .bar {
                background-color: #CF4264;
            }
            .chart:nth-child(3) .bar {
                background-color: #F42E78;
            }
            .chart:nth-child(4) .bar {
                background-color: #E07A5D;
            }
            .chart:nth-child(5) .bar {
                background-color: #EFC164;
            }
        }
    }
}
